.index {
  background-image: url(background-1.jpg);
  height: 1000px;
  margin-top: -20px;
}

.circle {
  border-radius: 50%;
  background-color: #ffffff;
  margin-top: 65px;
}

li #middle {
  text-align: center;
  text-decoration: none;
  list-style: none;
}

#title {
  padding: 52px;
  text-decoration: overline;
  color: #fff;
}

.buy {
  margin: 50px 500px 50px 300px;
}

.back {
      margin: 36px 20px 20px 160px;
}

.new {
  height: 40px;
  margin-left: 530px;
  margin-top: 50px;
  background-color: white;
  border-radius: 55%;
  width: 150px;
  padding-left: 45px;
  padding-top: 20px

}

.new a {
  color:#808080;
}

.new-center {
background-image: url(toronto.jpg);
height: 1000px;
}

.new-title {
  color: #ffffff;
}

.new_attraction {
  padding: 40px;
  margin-left: 500px;
  color: #ffffff;
}
